@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme { 
  --color-app-bg: var(--app-bg);
  --color-app-fg: var(--app-fg);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);
}

:root {
  /* TEMA CLARO */
  --app-bg: #fafaf9;          
  --app-fg: #1c1917;          
  
  --primary: #10b981;         /* Verde Esmeralda (emerald-500) */
  --primary-hover: #059669;   /* Esmeralda un poco más oscuro */
  
  --surface: #f5f5f4;         
  --surface-hover: #e7e5e4;   /* Blanco hueso */
}

.dark {
  /* TEMA OSCURO */
  --app-bg: #0a0a0a;          
  --app-fg: #f5f5f4;          
  
  --primary: #34d399;         /* Verde Menta vibrante (emerald-400) */
  --primary-hover: #10b981;
  
  --surface: #171717;         
  --surface-hover: #262626;   /* Negro carbón */
}

@layer base {
  body {
    @apply bg-app-bg text-app-fg transition-colors duration-300;
  }
}